In [14]:
import requests
import json

In [13]:
data = {
    'name': 'Skoda',
    'year': 2016,
    'selling_price': 1200000,
    'km_driven': 75000,
    'fuel': 'Petrol',
    'seller_type': 'Individual',
    'transmission': 'Automatic',
    'owner': 'First Owner',
    'mileage': '23.01 kmpl',
    'engine': '999 CC',
    'max_power': '67 bhp',
    'torque': '91Nm@ 4250rpm',
    'seats': 5,
}

requests.post('http://127.0.0.1:8000/predict_item', json = data)

In [16]:
json.loads(requests.post('http://127.0.0.1:8000/predict_item', json = data).text)

{'predicted_cost': 572821.5440254211}

In [22]:
import pandas as pd
data = {
    'name': 'Skoda',
    'year': 2016,
    'selling_price': 1200000,
    'km_driven': 75000,
    'fuel': 'Petrol',
    'seller_type': 'Individual',
    'transmission': 'Automatic',
    'owner': 'First Owner',
    'mileage': '23.01 kmpl',
    'engine': '999 CC',
    'max_power': '67 bhp',
    'torque': '91Nm@ 4250rpm',
    'seats': 5,
}
df = pd.DataFrame(data, index=[0])
csv_data = df.to_csv(rf'C:\Users\nadya\OneDrive\Документы\car_data.csv', index=False)

In [35]:
pd.read_csv(rf'C:\Users\nadya\OneDrive\Документы\car_data.csv').to_dict('records')

[{'name': 'Skoda',
  'year': 2016,
  'selling_price': 1200000,
  'km_driven': 75000,
  'fuel': 'Petrol',
  'seller_type': 'Individual',
  'transmission': 'Automatic',
  'owner': 'First Owner',
  'mileage': '23.01 kmpl',
  'engine': '999 CC',
  'max_power': '67 bhp',
  'torque': '91Nm@ 4250rpm',
  'seats': 5}]

In [44]:
response = requests.post("http://localhost:8000/predict_items", json=pd.read_csv(rf'C:\Users\nadya\OneDrive\Документы\car_data.csv').to_dict('records'))
response

In [50]:
requests.post('http://127.0.0.1:8000/predict_items', json = data).text

'year,km_driven,mileage,engine,max_power,torque,max_torque_rpm,fuel_Diesel,fuel_LPG,fuel_Petrol,seller_type_Individual,seller_type_Trustmark Dealer,transmission_Manual,owner_Fourth & Above Owner,owner_Second Owner,owner_Test Drive Car,owner_Third Owner,seats_4,seats_5,seats_6,seats_7,seats_8,seats_9,seats_10,seats_14,year_squared,torque_log,engine_log,predicted_price\r\n2016,75000,23.01,999.0,67.0,91.0,4250.0,0.0,0.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,4064256,4.51085950651685,6.906754778648554,572821.5440254211\r\n'